{% extends "base.html" %}
{% load sorl_thumbnail %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static "homepagestyle.css" %}">
{% endblock %}
{% block title %}
    homepage
{% endblock %}
{% block content %}
<div class="centered-form">
    <form method="post" action="{% url "homepage" %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
</div>
    <img class="qrcode-image" src="{{ image.qrcode.url }}" alt="">
{% endblock %}
