/* Apply some basic styling to the form */
.custom-form {
    width: 300px;
    margin: 0 auto;
}

/* Style for form labels */
.custom-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Style for form input fields */
.custom-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the submit button */
.custom-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style for the form submit button on hover */
.custom-submit:hover {
    background-color: #0056b3;
}

.alert-success{
    color: #ffffff;
    background-color: #1b7118;
    margin-right: 20%;
    margin-top: 5%;
    margin-left: 28%;
    padding-right: 6%;
    padding-left: -1%;
}
